{% extends 'base.html' %}

{% block metas %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block content %}
    <div class="container">
        <br>
        <h1 class="display-4">Cictro-Hash challenge</h1>
        <hr>
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.hash_1.label }}
                {% if form.hash_1.errors %}
                    {{ form.hash_1(class='form-control is-invalid') }}
                    {% for error in form.hash_1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.hash_1(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.hash_2.label }}
                {% if form.hash_2.errors %}
                    {{ form.hash_2(class='form-control is-invalid') }}
                    {% for error in form.hash_2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.hash_2(class='form-control') }}
                {% endif %}
            </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
{% endblock %}

