{% extends 'base.html' %}

{% block metas %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <br>
        <h1>Cictro-Hash challenge</h1>
	<h5>ritsecctf2018</h5>
	<div class="challenge-description">
	  <p>This document will describe the Hash Function CictroHash. It follows modern hashing techniques in a truly elegant and hardware-capable design. The sponge construction is a popular method used by hash functions to transfer through entropy to variable input. It is used in the ever-popular Keccak Hash function and is demonstrated below.Try to find the collision!</p> 
	  <hr>
	  <h1>Download:</h1>
	  <p>
	    <a href="{{url_for('static',filename='CictroHash.pdf')}}">CictroHash algorithm</a>
	  </p>
	</div>
        <hr>
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.hash_1.label }}
                {% if form.hash_1.errors %}
                    {{ form.hash_1(class='form-control is-invalid') }}
                    {% for error in form.hash_1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.hash_1(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.hash_2.label }}
                {% if form.hash_2.errors %}
                    {{ form.hash_2(class='form-control is-invalid') }}
                    {% for error in form.hash_2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.hash_2(class='form-control') }}
                {% endif %}
            </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
{% endblock %}

